[Desktop Entry]
Version=1.0
Type=Application
Name=LinuxZones
GenericName=Window Manager
Comment=Snap windows to predefined zones.
Exec=/opt/linuxzones/linuxzones
Icon=linuxzones
Terminal=false
Categories=Utility;
Keywords=window;manager;zones;
StartupNotify=false
X-GNOME-Autostart-Delay=10
