[Desktop Entry]
Type=Application
Exec=/home/kyle/linux-zones/linux-zones
Hidden=false
NoDisplay=false
X-GNOME-Autostart-enabled=true
Name[en_US]=Linux Zones
Name=Linux Zones
Comment[en_US]=Description of your script
Comment=Description of your script
