
/* primary zone display classes */
.zone-pane {
    border: 1px solid #666666;
    font-family: sans-serif;
    font-size: 25px;
    color: #404040;
}

.active-zone {
    opacity: 0.5;
    background-color: #3380ff;
}

.passive-zone {
    opacity: 0.6;
    background-color: #e6e6e6;
}


/* zone editor classes */
.settings-window {
    font-family: sans-serif;
    font-size: 25px;
    color: #555555;
    padding: 25px;
}


/* zone preset display classes */
.preset-display-pane {
    font-size: 0px;
    background-color: #e6e6e6;
    margin: 2px;
    border-radius: 3px;
}


.preset-display-box {
    font-family: sans-serif;
    font-size: 15px;
    color: #757575;
    border: 1px solid #dbdbdb;
    border-radius: 10px;
    margin: 10px;
    padding: 10px;
}

.preset-display-box-header {
    padding-bottom: 10px;
}